@font-face {
	font-family: GoT;
	src: url('GameofThrones.ttf');
}

#game * {
	padding: 0;
	margin: 0;
	font-size: 3vmin;
	font-family: GoT;
}

#game body, #about body {
	background-color: black;
	font-size: 0;
}

#game #container {
	width: 100vw;
	height: 95vh;
	min-width: 1200px;
	min-height: 700px;
	margin: 0 auto;
	margin-bottom: 3vh;
	box-sizing: border-box;
	/*border: 1px solid red;*/
	background-color: #000;
}

#game header {
	/*border: 1px solid blue;*/
	height: 20%;
	text-align: center;
	box-sizing: border-box;
	font-size: 1rem;
	color: lightgrey;
	position: relative;
}

#game .header_text {
	height: 100%;
	vertical-align: top;
	/*border: 1px solid red;*/
	display: inline-block;
	width: 69%;
}

#game .header_img {
	/*border: 1px solid red;*/
	display: inline-block;
	width: 29%;
	height: 100%;
}

#game .header_img img {
	width: 90%;
	height: auto;
}

#game .header_text p {
	height: 50%;
	/*box-sizing: border-box;*/
	letter-spacing: 0.12rem;
	padding-top: 2vh;
}

#game .header_text>.title > a {
	font-size: 1.5rem;
	color: rgb(140,50,157);
}

#game .header_text .phrase{
	font-size: 0.8rem;
}

#game .header_text a {
	text-decoration: none;
	font-weight: bold;
}

#game .header_text a:hover, #about button:hover {
	text-shadow: 2px 2px 2px grey;
}

#game .main_body {
	height: 80%;
	width: 100%;
}

#game .main_body .stats {
	/*border: 1px solid yellow;*/
	display: inline-block;
	width: 30%;
	height: 100%;
	vertical-align: top;
	box-sizing: border-box;
	color: lightgrey;
	padding-top: 5%;
	padding-left: 2%;
}

#game .main_body .stats .label {
	font-size: 0.8rem;
	letter-spacing: 0.12rem;
	padding-left: 3rem;
	padding-top: 1rem;
	line-height: 1.8rem;
	margin-top: 5%;
}

#game .main_body .stats .value {
	font-style: italic;
	display: inline-block;
	width: 40%;
	text-align: center;
	font-size: 1rem;
}

#game .stats .reset{
	font-family: Got;
	font-size: 0.8rem;
	width: 9rem;
	height: 2rem;
	display: block;
	letter-spacing: 0.1rem;
	margin: 2rem auto;
}

#game .stats .reset:hover{
	text-shadow: 2px 3px 2px grey;
}

#game .stats div.crown {
	width: 60%;
	height: 50%;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

#game .stats div.crown img {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#game #game-area {
	width: 69%;
	height: 100%;
	/*border: 1px dashed red;*/
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 0;
	perspective: 1000px; 	 /*adding flip perspective*/
}

#game .card {
	width: 16.66%;
	height: 33.33%;
	/*border: 1px dashed green;*/
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	vertical-align: top;
  	transform-style: preserve-3d;
  	transform: rotateY(0deg);  /*set initial card position for rotation*/
  	transition-duration: 1s;
  	vertical-align: middle;
}

#game .card:hover .back {
	transform: scale(1.06);
}

#game .card.flipper {
	transform: rotateY(180deg);
}


#game .front, #game .back {
	backface-visibility: hidden; /*hide back of pane during swap*/
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;

}

#game .card img {
	width: 100%;
	max-width: 130px;
	display: inline-block;
	position: absolute;
	box-sizing: border-box;
	margin:  0;
	top:50%;
	transform:translateY(-50%);
}

/*/* front pane, placed above back */
#game .card .back {
	z-index: 5;
	 /*for firefox 31 */
	transform: rotateY(0deg);
}

#game .card .front {
	transform: rotateY(180deg);
}

/*#game .card.hide > .back {
	display: none;
}*/

#game .win_message{
	position: absolute;
	width: 100%;
	height: 100%;
	/*background-color: yellow;*/
	letter-spacing: 0.12rem;
	text-align: center;
	font-weight: bolder;
	z-index: 100;
}

#game .win_message > span {
	display: inline-block;
	position: absolute;
	color: red;
	width: 90%;
	margin: 0 auto;
	font-size: 10rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.animation_fadeIn{
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#game .win_message.hide {
	display: none;
}

/*about page*/
#about body {
	color: lightgrey;
	font-family: helvetica, sans-serif;
	font-size: 1.5vmin;
	padding: 3vmin;
	letter-spacing: 0.12rem;
	line-height: 1.5rem;
}

#about section.container {
	width: 80vw;
	height: 90vh;
	margin: 0 auto;
}

#about .photo {
	width: 45%;
	height: 30%;
	min-width: 500px;
	min-height: 300px;
}

#about .photo img{
	height: 85%;
}

#about .mainbody{
	height: 60%;
	min-height: 700px;
	min-width: 500px;
}

#about .portofolio a {
	color: rgb(66,134,244);
}

#about h4 {
	padding-top: 1rem;
	font-size: 1rem;
}

#about li, #about p {
	font-size: 0.8rem;
}

#about button {
	height: 2rem;
	width: 5rem;
	font-family: GoT;
	display: inline-block;
	margin: 0 auto;
}

#about footer p {
	font-size: 0.7rem;
	text-align: center;
}